
body{
  margin: 0;
  text-align: center;
  background: #F2F4EF;
      font-family: "Montserrat", serif;
      
      
}

* {
  box-sizing: border-box;
}

.text-center {
      text-align: center;
      
}

.home-img{
  margin-left: 0px;
}


.logo{
  text-decoration: none; 
  font-weight: bold;
  color: #F2F4EF; 
  font-size: 30px;
  height: 30px;
}

header{
  background-color: #F2F4EF;
  height: 2em;
  position: fixed;
  top: 10;
  width: 100%;
  margin: 0;
  
  }



.fonts{
      font-family: "Montserrat", serif;
}


    nav div {
      position: sticky;
      top: 0;
      width: 100%;
      text-align: center;
      list-style: none; 	  
      border: 0px solid;
      background-color: #F2F4EF;
      display: flex;
      flex-direction: row;
      overflow: visible;
      margin-bottom: 2em;
      float: right;
  
    }
    nav li {
      margin: 1em; 
      list-style-type: none;
      width: 16.66%;
      box-sizing: border-box;
      display: inline;
    }
    nav a {
      text-decoration: none; 
      font-weight: thin;
      color: rgb(112, 110, 110); 
      background-color: #F2F4EF;
      text-align: center;
    }
    nav a:focus,
    nav a:hover,
    nav a:active {    
      text-decoration:underline;
    }




    /* Mobile first - für schmale Viewports */
    
         /* Large screens */
    @media all and (min-width: 35em) {

      button {
        padding: 0,1em;
        border: none;
        font-family: "Montserrat", serif;
        font-weight: thin;
      }
    
      button:focus img, 
      button:hover img {
        box-shadow: 1px 1px 5px #333;
        }

    }


/* Dropdown 

    .dropdown {
      float: left; 	
      overflow: hidden;
    }
    
    .dropdown .dropbtn {  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .navbar {
      overflow: hidden;
      background-color: #333;
      
    }
/* //////////////////////////////////-responsive pictures (discover)-////////////////////////////////// */

/*.row {
  /* display: -ms-flexbox; IE 10 */
  /*display: flex;*/
  /* -ms-flex-wrap: wrap; IE 10 
  flex-wrap: wrap;
  padding: 0 4px;
}
  /* Create two equal columns that sits next to each other 
.column {
  /* -ms-flex: 50%; IE 10 
  max-width: 50%;
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} 

/* //////////////////////////////////-Home Slideshow-////////////////////////////////// */

.slider {
 /* width: 500px; */
 margin-left: auto !important;
margin-right: auto !important;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 600px;
  height: 600px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: center;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}

.slider > a:active {
  top: 1px;
}


/* //////////////////////////////////-Last Winners Boxes-////////////////////////////////// */

.firstlittlebox{
  background-color: #F2F4EF;
  color: #ffffff;
  float: center;
  text-align: center;
  width: 400px;
  height: 25px;
  padding: 2.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  overflow: hidden;

}

.box1 {
  background-color: #F2F4EF;
  border: 1px solid  rgb(112, 110, 110); 
  color: #ffffff;
  float: left;
  text-align: center;
  width: 25em;
  height: 25em;
  
  margin-left: auto;
  margin-right: 2em;
  margin-bottom: 1em;
  overflow: hidden;
  
  
  
  }

  .bigbox1 {
    background-color: #F2F4EF;
    border: 1px solid  rgb(112, 110, 110); ;
    color: #ffffff;
    float: center;
    text-align: center;
    width: 120em;
    height: 240em;
    padding: 2.5em;
    margin-left: 20em;
    margin-right: 5em;
    margin-bottom: 1em;
    overflow: auto;
    }

    .thumb img {
      object-fit: contain;
      width:100%;
      height:100%
    }

  .center-img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
  }

  .text {
    text-decoration: none; 
    font-weight: thin;
    font-size: 2em; 
    color: rgb(112, 110, 110); 
    /*background-color: #F2F4EF;*/
  }


/* //////////////////////////////////-Photo Click Popup-////////////////////////////////// */



  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}





/* Shopping Cart */

/* Global "table" column settings */
 .product-image {
	 float: left;
	 width: 20%;
}
 .product-details {
	 float: left;
	 width: 37%;
}
 .product-price {
	 float: left;
	 width: 12%;
}
 .product-quantity {
	 float: left;
	 width: 10%;
}
 .product-removal {
	 float: left;
	 width: 9%;
}
 .product-line-price {
	 float: left;
	 width: 12%;
	 text-align: right;
}
/* This is used as the traditional .clearfix class */
 .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before, .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
	 content: '';
	 display: table;
}
 .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
	 clear: both;
}
 .group, .shopping-cart, .column-labels, .product, .totals-item {
	 zoom: 1;
}
/* Apply clearfix in a few places */
/* Apply dollar signs */
 .product .product-price:before, .product .product-line-price:before, .totals-value:before {
	 content: '$';
}
/* Body/Header stuff */
 body {
	 padding: 0px 30px 30px 20px;
	 font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-weight: 100;
}
 h1 {
	 font-weight: 100;
}
 label {
	 color: #aaa;
}
 .shopping-cart {
	 margin-top: -45px;
}
/* Column headers */
 .column-labels label {
	 padding-bottom: 15px;
	 margin-bottom: 15px;
	 border-bottom: 1px solid #eee;
}
 .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
	 text-indent: -9999px;
}
/* Product entries */
 .product {
	 margin-bottom: 20px;
	 padding-bottom: 10px;
	 border-bottom: 1px solid #eee;
}
 .product .product-image {
	 text-align: center;
}
 .product .product-image img {
	 width: 100px;
}
 .product .product-details .product-title {
	 margin-right: 20px;
	 font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
 .product .product-details .product-description {
	 margin: 5px 20px 5px 0;
	 line-height: 1.4em;
}
 .product .product-quantity input {
	 width: 40px;
}
 .product .remove-product {
	 border: 0;
	 padding: 4px 8px;
	 background-color: #c66;
	 color: #fff;
	 font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
	 font-size: 12px;
	 border-radius: 3px;
}
 .product .remove-product:hover {
	 background-color: #a44;
}
/* Totals section */
 .totals .totals-item {
	 float: right;
	 clear: both;
	 width: 100%;
	 margin-bottom: 10px;
}
 .totals .totals-item label {
	 float: left;
	 clear: both;
	 width: 79%;
	 text-align: right;
}
 .totals .totals-item .totals-value {
	 float: right;
	 width: 21%;
	 text-align: right;
}
 .totals .totals-item-total {
	 font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
 .checkout {
	 float: right;
	 border: 0;
	 margin-top: 20px;
	 padding: 6px 25px;
	 background-color: #6b6;
	 color: #fff;
	 font-size: 25px;
	 border-radius: 3px;
}
 .checkout:hover {
	 background-color: #494;
}
/* Make adjustments for tablet */
 @media screen and (max-width: 650px) {
	 .shopping-cart {
		 margin: 0;
		 padding-top: 20px;
		 border-top: 1px solid #eee;
	}
	 .column-labels {
		 display: none;
	}
	 .product-image {
		 float: right;
		 width: auto;
	}
	 .product-image img {
		 margin: 0 0 10px 10px;
	}
	 .product-details {
		 float: none;
		 margin-bottom: 10px;
		 width: auto;
	}
	 .product-price {
		 clear: both;
		 width: 70px;
	}
	 .product-quantity {
		 width: 100px;
	}
	 .product-quantity input {
		 margin-left: 20px;
	}
	 .product-quantity:before {
		 content: 'x';
	}
	 .product-removal {
		 width: auto;
	}
	 .product-line-price {
		 float: right;
		 width: 70px;
	}
}
/* Make more adjustments for phone */
 @media screen and (max-width: 350px) {
	 .product-removal {
		 float: right;
	}
	 .product-line-price {
		 float: right;
		 clear: left;
		 width: auto;
		 margin-top: 10px;
	}
	 .product .product-line-price:before {
		 content: 'Item Total: $';
	}
	 .totals .totals-item label {
		 width: 60%;
	}
	 .totals .totals-item .totals-value {
		 width: 40%;
	}
}

img{
  max-width: 100%;
  height: auto;
  background: lightblue;
  background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half{
  color: yellowgreen;
  padding: 3% 0;
}

#cart_count{
  text-align: center;
  padding: 0 0.9rem 0.1rem 0.9rem;
  border-radius: 3rem;
}

.shopping-cart{
  padding: 3% 0;
}

.cart-items + .cart-items{
  padding: 2% 0;
}

.price-details h6{
  padding: 3% 2%;
}