@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

.text-center {
      text-align: center; 
}


.fonts{
      font-family: "Montserrat", serif;
}
/* ///////////Home//////////// */


/* //////////////////////////////////-responsive pictures (discover)-////////////////////////////////// */

/*.row {
  /* display: -ms-flexbox; IE 10 */
  /*display: flex;*/
  /* -ms-flex-wrap: wrap; IE 10 
  flex-wrap: wrap;
  padding: 0 4px;
}
  /* Create two equal columns that sits next to each other 
.column {
  /* -ms-flex: 50%; IE 10 
  max-width: 50%;
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} 



/* //////////////////////////////////-Boxes-////////////////////////////////// */


.shop {
  display: flex;
  flex-wrap: wrap;
  }

.shop-card{
	flex: 1 16%;
	
}

@media (max-width: 920px) {
	.shop-card {
	  flex: 1 21%;
	}
  }

  @media (max-width: 600px) {
	.shop-card {
	  flex: 1 46%;
	}
  }

.products .product-card:first-child, 
.products .product-card:nth-child(2) {
  flex: 2 46%;
}

.shop-image img {
	max-width: 100%;
}

.shop-info{
	margin-top: auto;
}

  .boxProduct {
    background-color: #F2F4EF;
    
    color: #ffffff;
    float: left;
    text-align: center;
    width: 35%;
    height: 30%;
    border-radius: 0.5em;
    
    margin-left: auto;
    margin-right: 2em;
    margin-bottom: 1em;
    overflow: hidden;
    }
  .shop-card:hover{
    box-shadow: -10px -10px 5px rgb(175, 175, 175);
  }


/*/Home/*/

@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");


/* Reset */

	html, body, div, span, h1, h2, h3, p, a, del, img, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, details, embed, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ul {
		list-style: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 80em;
	}

	@media screen and (max-width: 1680px) {
		.container {
			width: 80em;
		}
	}

	@media screen and (max-width: 1280px) {
		.container {
			width: 65em;
		}
	}

	@media screen and (max-width: 980px) {
		.container {
			width: 90%;
		}
	}

	@media screen and (max-width: 736px) {
		.container {
			width: 90% !important;
		}
	}

	@media screen and (max-width: 480px) {
		.container {
			width: 90% !important;
		}
	}

/* Type */

	body {
		font-family: "Lato", sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 2;
		background-color: #fff;
		color: #111111;
	}

		@media screen and (max-width: 1680px) {
			body{
				font-size: 13pt;
			}
		}

		@media screen and (max-width: 1280px) {
			body{
				font-size: 13pt;
			}
		}

		@media screen and (max-width: 980px) {
			body{
				font-size: 12pt;
			}
		}

		@media screen and (max-width: 736px) {
			body{
				font-size: 12pt;
			}
		}

		@media screen and (max-width: 480px) {
			body{
				font-size: 12pt;
			}
		}

	a {
		transition: color 0.2s ease-in-out;
		text-decoration: none;
		color: #e5474b;
	}

		a:hover {
			text-decoration: underline;
		}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 2em;
		margin: 0 0 0.25em 0;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.35em;
	}


	@media screen and (max-width: 736px) {
		h1 {
			font-size: 1.5em;
		}
		h2 {
			font-size: 1.25em;
		}
		h3 {
			font-size: 1.1em;
		}
	}

	.align-left {
		text-align: left;
	}
	.align-center {
		text-align: center;
	}
	.align-right {
		text-align: right;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #e5474b;
	}


/* Button */

	.button {

		border-radius: 0;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: .8em;
		font-weight: 700;
		height: 3.5em;
		line-height: 3.65em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;

		background-color: #5a5a5a;
		color: #ffffff !important;
	}

		.button:hover {
			text-decoration: none;
			background-color: #676767;
		}

		.button:active {
			background-color: #4d4d4d;
		}

		.button.rot {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #e5474b;
			color: #e5474b !important;
		}

			.button.rot:hover {
				background: #fceced;
			}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 0;
			display: block;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}


/* Section/Article */

	section .inner {
		max-width: 65em;
		width: calc(100% - 6em);
		margin: 0 auto;
	}

		@media screen and (max-width: 480px) {
			section .inner {
				max-width: 90%;
				width: 90%;
			}
		}

	header p {
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}

	header p {
		color: #717171;
	}

/* Header */

	body {
		position: relative;
		padding-top: 5em;
	}

	#header {
		background: #1c1c1c;
		color: #d5d5d5;
		cursor: default;
		height: 5em;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
		}

			@media screen and (max-width: 480px) {

				#header .inner {
					max-width: 90%;
					width: 90%;
				}

			}

		#header .logo {
			font-family: 'Pacifico', cursive;
			display: inline-block;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: #e5474b;
			font-size: 1.75em;
			text-transform: none;
			font-weight: normal;
			padding: 0;
		}

			#header .logo:hover {
				color: rgba(229, 71, 75, 0.75);
			}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: .85em;
		}

			#header a:hover {
				color: rgba(255, 255, 255, 0.75);
			}

			#header a:last-child {
				padding-right: 0em;
			}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}

/* Menu */

	#nav {
		display: inline-block;
	}
		@media screen and (max-width: 980px) {

			#nav {
				display: none;
			}
		}

	.navPanelToggle {
		position: fixed;
		text-decoration: none;
		height: 4em;
		right: 3em;
		top: .75em;
		width: 4em;
		display: none;
		z-index: 10002;
	}

		.navPanelToggle:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
			color: #fff;
			display: block;
			font-size: 16px;
			height: 2.25em;
			left: 0.5em;
			line-height: 2.25em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

		@media screen and (max-width: 980px) {
			.navPanelToggle {
				display: block;
			}
		}

		@media screen and (max-width: 736px) {
			.navPanelToggle {
				right: 1em;
			}
		}

		.navPanelToggle *:before {
			color: #fff;
			display: block;
			font-size: 16px;
			height: 2.25em;
			left: 0.5em;
			line-height: 2.25em;
			position: absolute;
			text-align: center;
			top: 0.5em;
			width: 3.5em;
		}

	#navPanel {
		visibility: hidden;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		background: #1c1c1c;
		color: #fff;
		height: 100%;
		max-width: 80%;
		width: 20em;
		padding: 1.5em;
		text-transform: uppercase;
		z-index: 10003;
		display: none;
	}

		#navPanel.visible {
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		#navPanel a:not(.close) {
			border-top: solid 1px rgba(255, 255, 255, 0.1);
			color: #fff;
			font-weight: 700;
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
		}

			#navPanel a:not(.close):first-child {
				border: none;
			}

		#navPanel .close {
			border: 0;
			color: #484848;
			cursor: pointer;
			display: block;
			height: 4em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			width: 5em;
		}

			#navPanel .close:before {
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
				content: '\f00d';
				width: 3em;
				height: 3em;
				line-height: 3em;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
			}

			#navPanel .close:hover {
				color: inherit;
			}

		@media screen and (max-width: 980px) {

			#navPanel {
				display: block;
			}

		}

/* Banner */

	#banner {
		padding: 13em 0 11em 0;
		background-color: #0c0c0c;
		background-image: url("../images/red-canvas1.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: left;
		position: relative;
		z-index: 9999;
	}

		#banner h1, #banner h2, #banner h3 {
			color: #fff;
		}


			#banner .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #ffffff !important;
			}

				#banner .button.alt:hover {
					background: rgba(255, 255, 255, 0.25);
				}

				#banner .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				#banner .button.alt.icon:before {
					color: #f8d1d2;
				}

		#banner .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
			z-index: 10000;
			line-height: 1.5;
		}

			@media screen and (max-width: 480px) {
				#banner .inner {
					max-width: 90%;
					width: 90%;
				}
			}

		#banner h1 {
			font-size: 2em;
			margin: 0 0 1em 0;
			padding: 0;
			letter-spacing: 3px;
			font-weight: 700;
		}

			#banner h1 span {
				font-weight: 400;
			}


		@media screen and (max-width: 1680px) {
			#banner {
				padding: 10em 0 8em 0;
			}
		}

		@media screen and (max-width: 1280px) {
			#banner {
				padding: 8em 0 6em 0;
			}
		}

		@media screen and (max-width: 980px) {
			#banner {
				padding: 12em 0 10em 0;
			}
				#banner br {
					display: none;
				}
		}

		@media screen and (max-width: 736px) {
			#banner {
				padding: 4em 0 2em 0;
			}
				#banner h1 {
					font-size: 1.75em;
				}
		}

		@media screen and (max-width: 480px) {
			#banner {
				padding: 5em 0 3em 0;
			}
				#banner ul {
					margin-top: 1em;
				}
		}

/* Main */

	#main {
		padding: 4em 0 2em 0;
	}

	#one {
		padding: 6em 0 4em 0;
	}

		@media screen and (max-width: 980px) {
			#one {
				padding: 4em 0 2em 0;
			}
		}

		@media screen and (max-width: 736px) {

			#one {
				padding: 2em 0 0.1em 0;
			}

		}

	#two {
		padding: 6em 0 4em 0;
	}

		#two .inner {
			display: flex;
			flex-direction: row;
		}

			#two .inner article {
				width: 50%;
			}

				#two .inner article:first-child {
					padding-right: 6em;
				}

				#two .inner article:last-child {
					padding-left: 6em;
				}

		@media screen and (max-width: 980px) {
			#two {
				padding: 4em 0 2em 0;
			}

				#two .inner {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					#two .inner article {
						width: 100%;
					}

						#two .inner article:first-child {
							padding-right: 0;
							padding-bottom: 2em;
						}

						#two .inner article:last-child {
							padding-left: 0;
							padding-top: 2em;
						}

		}

		@media screen and (max-width: 736px) {
			#two {
				padding: 2em 0 0.1em 0;
			}
		}

	#three {
		padding: 6em 0 4em 0;
	}

		#three .inner {
			display: flex;
			flex-direction: row;
		}

			#three .inner article {
				width: 26%;
				display: block;
			}

				#three .inner article p {
					color: #717171;
				}

				#three .inner article .icon {
					color: #b3b3b3;
					font-size: 3em;
				}

			@media screen and (max-width: 980px) {

				#three .inner {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					#three .inner article {
						width: 100%;
						margin: 0 auto;
					}

			}

		@media screen and (max-width: 980px) {

			#three {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#three {
				padding: 2em 0 0.1em 0;
			}

		}

/* Footer */

	#footer {
		background-color: #e5474b;
		color: #f2a3a5;
		padding: 4em 0 2em 0;
		background: #e5474b;
	}

		#footer input, #footer select, #footer textarea {
			color: #ffffff;
		}

		#footer a {
			color: #ffffff;
		}

		#footer strong, #footer b {
			color: #ffffff;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #fff;
		}

		#footer blockquote {
			border-left-color: #fff;
		}

		#footer code {
			background: none;
			border-color: #fff;
		}

		#footer hr {
			border-bottom-color: #fff;
		}

		#footer input[type="submit"],
		#footer input[type="reset"],
		#footer input[type="button"],
		#footer button,
		#footer .button {
			background-color: #5a5a5a;
			color: #ffffff !important;
		}

			#footer input[type="submit"]:hover,
			#footer input[type="reset"]:hover,
			#footer input[type="button"]:hover,
			#footer button:hover,
			#footer .button:hover {
				background-color: #676767;
			}

			#footer input[type="submit"]:active,
			#footer input[type="reset"]:active,
			#footer input[type="button"]:active,
			#footer button:active,
			#footer .button:active {
				background-color: #4d4d4d;
			}

			#footer input[type="submit"].alt,
			#footer input[type="reset"].alt,
			#footer input[type="button"].alt,
			#footer button.alt,
			#footer .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #ffffff !important;
			}

				#footer input[type="submit"].alt:hover,
				#footer input[type="reset"].alt:hover,
				#footer input[type="button"].alt:hover,
				#footer button.alt:hover,
				#footer .button.alt:hover {
					background: rgba(255, 255, 255, 0.25);
				}

				#footer input[type="submit"].alt:active,
				#footer input[type="reset"].alt:active,
				#footer input[type="button"].alt:active,
				#footer button.alt:active,
				#footer .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				#footer input[type="submit"].alt.icon:before,
				#footer input[type="reset"].alt.icon:before,
				#footer input[type="button"].alt.icon:before,
				#footer button.alt.icon:before,
				#footer .button.alt.icon:before {
					color: #f8d1d2;
				}

			#footer input[type="submit"].special,
			#footer input[type="reset"].special,
			#footer input[type="button"].special,
			#footer button.special,
			#footer .button.special {
				background-color: #ffffff;
				color: #e5474b !important;
			}

		#footer label {
			color: #ffffff;
		}

		#footer input[type="text"],
		#footer input[type="password"],
		#footer input[type="email"],
		#footer select,
		#footer textarea {
			background: none;
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer input[type="text"]:focus,
			#footer input[type="password"]:focus,
			#footer input[type="email"]:focus,
			#footer select:focus,
			#footer textarea:focus {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

		#footer .select-wrapper:before {
			color: #fff;
		}

		#footer input[type="checkbox"] + label,
		#footer input[type="radio"] + label {
			color: #f2a3a5;
		}

			#footer input[type="checkbox"] + label:before,
			#footer input[type="radio"] + label:before {
				background: none;
				border-color: #fff;
			}

		#footer input[type="checkbox"]:checked + label:before,
		#footer input[type="radio"]:checked + label:before {
			background-color: #ffffff;
			border-color: #ffffff;
			color: #e5474b;
		}

		#footer input[type="checkbox"]:focus + label:before,
		#footer input[type="radio"]:focus + label:before {
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

		#footer ::-webkit-input-placeholder {
			color: #f8d1d2 !important;
		}

		#footer :-moz-placeholder {
			color: #f8d1d2 !important;
		}

		#footer ::-moz-placeholder {
			color: #f8d1d2 !important;
		}

		#footer :-ms-input-placeholder {
			color: #f8d1d2 !important;
		}

		#footer .formerize-placeholder {
			color: #f8d1d2 !important;
		}

		#footer .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
		}

			@media screen and (max-width: 480px) {

				#footer .inner {
					max-width: 90%;
					width: 90%;
				}

			}

		#footer .copyright {
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
		}

			#footer .copyright a {
				color: #f2a3a5;
			}

		@media screen and (max-width: 980px) {

			#footer {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 2em 0 0.1em 0;
			}

		}